@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #2c3855;
  --primary-color-dark: #435681;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
 
    --mainColor: #2c9caf; 
    --towColor: #3f8b48;
    --backgroundColor:#eee;
   
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 3rem;
}

.section__header {
  font-size: 2rem;
  font-weight: 600;
  color: var(--towColor);
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: flex;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}
#logo{
    font-size: 36px;
    font-weight: 550;
    color:var(--towColor);
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}

.navbar-toggler span{
    color: var(--towColor);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  font-weight: 500;
  color: var(--text-light);
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color);
}

.header__container {
  padding: 1rem 3rem 0rem 3rem;
}

.header__image__container {
  position: relative;
  min-height: 500px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
  margin: 0 20px;
}

.header__content {
  max-width: 600px;
  padding: 20rem 2rem 0;
  
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 600;
  color: var(--white);
}

.header__content p {
  color: var(--extra-light);
}
.image-slider{
  width: 100%;
  height: 80%;
  box-shadow: 20px 20px 35px black;
  animation: slider 10s linear infinite;
  background-size: 100% 100%;
}




.popular__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.popular__card {
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.popular__content {
  padding: 1rem;
}

.popular__card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem; 
}

.popular__card__header h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.popular__content p {
  color: var(--text-light);
}

.client {
  background-color: var(--extra-light);
}


.client__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}



.client__card {
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}




.client__card img {
  max-width: 100px;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 80%;
}

.client__card p {
  text-align: center;
  color: var(--text-dark);
}

.reward__container {
  padding: 2rem;
  text-align: center;
  border-radius: 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.reward__container p {
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--text-light);
}

.reward__container h4 {
  max-width: 500px;
  margin: auto;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
}







.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 25px;
    transition: 0.5s ease;
    cursor: pointer;
    letter-spacing: 5px;

  }
  .social-links i:hover{
    background-color: #767268;
  }

  .reward__container a{
    padding: 1rem 3rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: #2c553c;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 5px; 
  }

  .reward__container a :hover{
    background-color: #2c8446; 
  }

@media (width < 900px) {
 

  .popular__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .client__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (width < 600px) {
  .nav__links {
    display: none;
  }

  .popular__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .client__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    gap: 2rem;
  }
  .header__content h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }

}
@media (width < 500px) {

  .header__content h1 {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
